* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marmelad', sans-serif;
    list-style: none;
    color: white;
    text-decoration: none;
}

:root {
    --clr-vanilla: #fbffcd;
    --clr-sage: #79ae92;
    --clr-teal: #1c5560;
    --clr-midnight: #001f36;
    --clr-ebony: #000000;
    --clr-onyx: #101415;
    --clr-slate: #21282a;
    --clr-transparent: #ffffff00;
}

body {
    background: #001F36;
}

header {
    & .menu {
        background-color: black;
        display: flex;
        justify-content: space-around;
    }

    h1 {
        font-size: 130px;
    }

    h2 {
        font-size: 30px;
        font-weight: 100;
    }
}


.intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    & button {
        background-color: var(--clr-transparent);
        color: white;
        width: 150px;
        height: 50px;
        border-radius: 12px;
        font-size: 20px;
        margin-top: 150px;
    }
}


#projetos {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 70px;
        text-align: center;
        color: var(--clr-vanilla);
    }

    .containerProjects {
        display: flex;
        align-items: center;

        .projects {
            margin: 30px;
        }
    }

    & button {
        background-color: var(--clr-transparent);
        color: var(--clr-vanilla);
        width: 150px;
        height: 50px;
        border-radius: 12px;
        font-size: 20px;
        margin-top: 50px;
        text-align: center;
    }
}


footer {
    background-color: black;
    height: 50px;
    text-align: center;
}